<!DOCTYPE html>
<html>
<head>
	<head>
	 <meta charset="UTF-8">
	    <title>Wish list</title>
	    <meta charset="UTF-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
</head>
<body>
	<h1>Welcome!</h1>
	<div class="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div class="alert-danger" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}	
		{% endwith %}
		<form method="POST" action="/register">

			<h5>Register</h5>
			<label for="name">Name</label>
			<input type="text" name="name" id="name" placeholder="">		
			<label for="username">Username</label>
			<input type="username" name="username" id="username" placeholder="">
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
			<label for="c_password">Confirm Password</label>
			<input type="password" name="c_password" id="c_password">
			<label for="date_hired">Date hired</label>
			<input type="date" name="date_hired" id="date_hired">
			<button type="submit">Register</button>

		</form>
		<form method="post" id="login_form" action="/login">
		<h5>Login</h5>
		<label for="username">Username</label>
		<input type="username" name="username" id="username" placeholder="">
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
		<button type="submit">Login</button>
	</form>	
	</div>
</body>
</html>