<!DOCTYPE html>
<html>
<head>
	<title>wishlist</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="container">
		<h1>Create New wish list item</h1>
		<a class="" href="/dashboard">Home</a>
		<a class="logout" href="/logout">Logout</a>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div class="alert-danger" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}	
		{% endwith %}
		<form method="POST" action="/add">
			<label for="item/product">Item / Product</label>
			<input type="text" name="item/product" id="item/product" placeholder="ex. Iphone">
			<button type="submit">Add</button>
		</form>
	</div>
	
</body>
</html>